@using QRCoder
<style>
    .over img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>
<div class="tab-pane fade" id="qrcode_@ItemId" role="tabpanel" aria-labelledby="qrcode_@ItemId">
    <div id="qr__@ItemId" class="over" style="position:absolute; width:85%; height:90%"></div>
</div>
@code {
    [Parameter]
    public string Code { get; set; } 

    [Parameter]
    public int ItemId { get; set; }

    [Inject]
    public IJSRuntime JSRuntime { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("qrCode.init", $"qr__{ItemId}", Code);
        await base.OnAfterRenderAsync(firstRender);
    }
}
