@page "/sosdashboard"
@inject IJSRuntime jsRuntime
@using SOS.OrderTracking.Web.Shared.ViewModels.WorkOrder.Dashboard
@using SOS.OrderTracking.Web.Client.Services.Admin
@using SOS.OrderTracking.Web.Client.Components
@inherits APICrudBaseV2<SOSDashboardFormViewModel, SOSDashboardListViewModel, int, BaseIndexModel, SOSDashboardService>
<style>
    .margin-31 {
        margin-left: -31%;
    }
</style>
<SubHeader Heading="SOS Dashboard">

</SubHeader>
<FluentCard>
    
    <div class="row">
        <div class="col-6">
            <div class="row flex-center margin-31 mt-3 mb-1">
                <label class="h3 bold flex-center">Shipment wise</label>
            </div>
            <div id="shipmentWiseChart"></div>
        </div>
        <div class="col-6">
            <div class="row flex-center margin-31 mt-3 mb-1" >
                <label class="h3 bold">Region wise</label>
                </div>
                <div id="regionWiseChart"></div>
            </div>
        </div>
    <div class="row">
        <div class="col-12">
            <div class="row flex-center mt-3 mb-1" style="margin-left: -17%;">
                <label class="h3 bold">Customer wise</label>
                </div>
                <div  id="customerWiseChart"></div>
            </div>

        </div>
</FluentCard>


