@typeparam TValue
@inherits InputBase<TValue>

@*<div class="form-group row">
    <label class="col-form-label text-right col-lg-3 col-sm-12">Basic Demo</label>
    <div class="col-lg-4 col-md-9 col-sm-12">*@
        <div class="typeahead">
            <input class="form-control" id="@Id" type="text"  />
        </div>
    @*</div>
</div>*@
@code{
    //kt_typeahead_1
    [Parameter]
    public string Id { get; set; }
    [Inject]
    IJSRuntime JSRuntime
    {
        get; set;
    }
    protected override bool TryParseValueFromString(string value, out TValue result, out string validationErrorMessage)
    {

        try
        {
            result = (TValue)Convert.ChangeType(value, typeof(TValue));
            validationErrorMessage = null;
            return true;
        }
        catch (Exception ex)
        {
            validationErrorMessage = ex.ToString();
        }

        throw new InvalidOperationException($"v1/{GetType()} does not support the type '{typeof(TValue)}'.");
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("autoComplete",Id);
            // await JSRuntime.InvokeVoidAsync("select2Component.onChange", Id, DotNetRef, "Change_SelectWithFilterBase");
        }
    }

}
