@if (!string.IsNullOrWhiteSpace(Content))
{

    <div class="alert alert-custom alert-notice alert-light-@Type.ToString().ToLower()  fade show mb-5" role="alert">
      
        <div class="alert-text">@((MarkupString)Content)</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">
                    <i class="ki ki-close"></i>
                </span>
            </button>
        </div>
    </div> 
}
@code {

    [Parameter] public NotificationCssClass Type { get; set; }

    [Parameter] public string Content { get; set; }
}
