@typeparam TFormViewModel
@typeparam TListViewModel
@typeparam TKey

<th @onclick='()=> API.SortColumn = $"{Key}-{InverseState()}"' style="cursor:pointer">
    @ChildContent
    @if (API.SortColumn?.Split('-').First() == Key)
    {
        if (State)
        {
            <span><i class="fad fa-sort-up ml-2"></i></span>
        }
        else
        {
            <span><i class="fad fa-sort-down ml-2"></i></span>
        }
    }
</th>
@code {

    [Parameter]
    public string Key { get; set; }
     
    public bool State { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public APICrudBase<TFormViewModel, TListViewModel, TKey> API { get; set; }

    private bool InverseState()
    {
        State = !State;
        return State;
    }
}
