
@inherits InputBase<DateTime?>
<div class="input-group date">
    <input type="text" @bind-value="Value" @bind-value:format="dd-MM-yyyy" id="@Id" 
           class="form-control date-picker" readonly="" placeholder="Select Date">
    <div class="input-group-append">
        <span class="input-group-text"><i class="far fa-calendar-check"></i></span>
    </div>
</div>